// global variables
$text-p-sm : 1.2rem;
$text-p-md: 1.5rem;
$text-p-lg: 1.8rem;

$deep-blue:#10103d;
$sky-blue:#71d4fc;
$dark-slate-grey:#3c4d5f;
$light-hot-pink:#db7586;
$lemon-yellow:#f0f049;
$light-green:#1ec21e;

$banner-grad: linear-gradient(59deg,$deep-blue 50%, $dark-slate-grey);
$underline-grad: linear-gradient(20deg, $lemon-yellow 20%, $light-green);
