@use '../utils/variables';

// local variables


.banner{
    width: 100vw;
    height: 90vh;
    background: variables.$banner-grad;
    // position:relative;
    display: grid;
    place-content: center;
    text-align: center;

    h1{
        font-size: 5rem;
        margin:1rem auto;
        -webkit-text-stroke: 1px variables.$sky-blue;
        -webkit-text-fill-color:transparent;
        font-style: italic;
        text-transform: uppercase;
        animation: expansion 1200ms ease-in-out infinite alternate;
    }
    @keyframes expansion {
        from{
            opacity:0.5;
            letter-spacing: 3px;
            text-shadow: 0 0 3px variables.$sky-blue;
        }
        to{
            opacity: 1;
            letter-spacing: 4px;
            text-shadow: 0 0 4px variables.$sky-blue;
        }
    }
    p{
        font-size: 1.8rem;
        color:white;
        position: relative;
        width:fit-content;
        margin:0 auto;

        span{
            position: absolute;
            width:calc(100% );
            top:3rem;
            text-align: center;
            left:0;
            height:3px;
            border-radius: 0.5rem;
            background: variables.$underline-grad;
        }
    }
       
        a{
            font-size: 3.5rem;
            margin-top:4rem;
            color:variables.$sky-blue;
            animation:flickertopsy 1000ms ease infinite alternate;
        }
    @keyframes flickertopsy {
        from{
            filter: drop-shadow(0 0 4px white);
            transform: translateY(5px);
        }to{
            filter: drop-shadow(0 0 5px variables.$sky-blue);
            transform: translateY(0);
        }
    }

}